*{
  margin: 0;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  height: 100dvh;
}

.box-logo{
  margin: auto 0;
}

.box-logo > img{
  width: 428px;
}

.box-formCadastro{
  margin: auto 0;
}

form > div {
  display: flex;
  flex-direction: column;
}

.box-formCadastro > h1 {
  font-size: 48px;

  padding-bottom: 50px;
}

.box-formCadastro > h1, div > label, div > p{
  color: #223744;
  font-weight: 700;
}

a {
  color: #86BD00;
  font-size: 700;

  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

div > input {
  height: 61px;
  width: 326px;
  padding: 10px;
  margin: 11px 0;
  border-radius: 10px;
  border: none;

  background-color: #F2F2F2;
}

input::placeholder{
  color: #91A0AA;
}

.box-senha{
  position: relative;
}

span {
  position: absolute;
  right: 10px;
  top: 50px
}

.olhoConfirmaSenha {
  position: absolute;
  right: 10px;
  top: 160px
}

.esqueceuSenha{
  text-align: end;
}

div > button {
  width: 132px;
  padding: 11px 0;

  margin: 50px auto;

  background-color: #86BD00;
  border-radius: 10px;
  border: none;

  color: #ffffff;


}

.box-cadastrar{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .container{
    flex-direction: column;
  }

  .box-logo, .box-formCadastro{
    margin: auto;
  }

  .box-formCadastro{
    padding-bottom: 20px;
  }

  .box-logo > img{
    margin-top: 30px;
  }

  .box-formCadastro > h1 {
    padding-bottom: 15px;
  }
}

@media (min-width: 425px) and (max-width: 1024px) {
  .box-logo > img{
    width: 359px;
  }

  .box-formCadastro > h1 {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .box-logo > img{
    width: 263px;
  }

  .box-formCadastro > h1 {
    font-size: 36px;
  }

  div > input {
    width: 270px;
  }

  .box-cadastrar{
    flex-direction: column;
    align-items: center;
  }

  div > button {
    width: 114px;

    display: flex;
    justify-content: center;
  }
}

