<div class="container-eventos">
  <div class="barra-events">
    <div class="svg-h1">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"
        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#91A0AA">
          <path d="M441 4465 c-220 -48 -389 -220 -431 -440 -7 -41 -10 -190 -8 -467 3
          -393 4 -408 24 -434 39 -52 67 -66 157 -75 47 -5 109 -17 137 -28 326 -124
          426 -532 193 -792 -84 -92 -191 -144 -330 -158 -90 -9 -118 -23 -157 -75 -20
          -27 -21 -41 -24 -441 -2 -339 0 -426 12 -478 53 -228 230 -391 464 -427 45 -7
          746 -10 2127 -8 1972 3 2062 4 2115 21 149 50 266 147 332 273 66 126 69 153
          66 619 -3 400 -4 414 -24 441 -39 52 -67 66 -157 75 -47 5 -109 17 -137 28
          -326 124 -426 532 -193 792 84 92 191 144 330 158 90 9 118 23 157 75 20 27
          21 41 24 441 3 466 0 493 -66 619 -74 142 -215 247 -377 281 -102 21 -4135 21
          -4234 0z m4234 -312 c47 -25 95 -74 121 -123 17 -32 19 -66 22 -361 l3 -327
          -73 -22 c-260 -79 -456 -276 -540 -540 -20 -64 -23 -96 -23 -220 0 -124 3
          -156 23 -220 84 -264 280 -461 540 -540 l73 -22 -3 -327 c-3 -295 -5 -329 -22
          -361 -26 -49 -74 -98 -121 -123 l-40 -22 -2075 0 -2075 0 -40 22 c-53 28 -99
          78 -124 133 -19 42 -21 65 -21 361 l0 317 83 26 c249 78 429 257 521 515 29
          82 31 93 30 241 0 141 -2 162 -27 235 -87 257 -282 449 -534 525 l-73 22 0
          316 c0 297 2 320 21 362 34 76 100 132 174 151 17 4 955 6 2085 6 l2055 -2 40
          -22z" />
          <path d="M2516 3620 c-16 -5 -40 -19 -53 -32 -14 -13 -88 -148 -164 -300 -134
          -268 -140 -277 -171 -283 -18 -3 -155 -23 -305 -45 -150 -21 -286 -46 -302
          -54 -49 -26 -74 -78 -69 -143 l5 -56 230 -228 229 -228 -52 -305 c-55 -319
          -56 -336 -19 -393 23 -34 99 -67 138 -59 17 4 151 69 298 146 147 77 272 140
          279 140 7 0 133 -63 280 -140 147 -77 280 -143 297 -146 39 -8 115 25 138 59
          37 57 36 74 -19 393 l-52 305 229 228 230 228 5 56 c5 65 -20 117 -70 143 -20
          10 -590 104 -635 104 -2 0 -65 125 -142 278 -76 152 -150 287 -163 300 -23 21
          -79 43 -103 41 -5 0 -23 -5 -39 -9z m137 -669 c72 -149 92 -182 120 -200 25
          -15 82 -28 213 -47 98 -14 185 -28 193 -30 9 -3 -37 -57 -131 -152 -118 -118
          -147 -154 -152 -182 -4 -21 7 -111 27 -227 18 -106 32 -193 30 -193 -1 0 -80
          41 -175 92 -226 120 -209 120 -435 0 -95 -51 -174 -92 -176 -92 -1 0 12 87 30
          193 20 116 31 206 27 227 -5 28 -34 64 -152 182 -94 95 -140 149 -131 152 8 2
          94 16 192 30 133 19 187 31 213 47 29 18 48 50 121 200 48 98 89 179 93 179 4
          0 45 -81 93 -179z" />
        </g>
      </svg>

      <h1>Eventos</h1>
    </div>

    <div class="pesquisa-btns">
      <div class="input-pesquisa">
        <input type="text">
        <svg width="40px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

          <g id="SVGRepo_iconCarrier">
            <path d="M15 15L21 21" stroke="#91A0AA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
              stroke="#91A0AA" stroke-width="2" />
          </g>

        </svg>
      </div>

      <button class="btn block">
        <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

          <g id="SVGRepo_iconCarrier">
            <path
              d="M20.17 3.91C20.1062 3.78712 20.0101 3.68399 19.8921 3.61173C19.774 3.53947 19.6384 3.50084 19.5 3.5H4.5C4.36157 3.50084 4.226 3.53947 4.10792 3.61173C3.98984 3.68399 3.89375 3.78712 3.83 3.91C3.76636 4.03323 3.73915 4.17204 3.75155 4.31018C3.76395 4.44832 3.81544 4.58007 3.9 4.69L9.25 12V19.75C9.25259 19.9481 9.33244 20.1374 9.47253 20.2775C9.61263 20.4176 9.80189 20.4974 10 20.5H14C14.1981 20.4974 14.3874 20.4176 14.5275 20.2775C14.6676 20.1374 14.7474 19.9481 14.75 19.75V12L20.1 4.69C20.1846 4.58007 20.236 4.44832 20.2484 4.31018C20.2608 4.17204 20.2336 4.03323 20.17 3.91Z"
              fill="#91A0AA" />
          </g>

        </svg>
      </button>

      <button class="btn block">
        <svg fill="#000000" width="25px" height="25px" viewBox="0 0 24 24" id="download-alt-4" data-name="Flat Line"
          xmlns="http://www.w3.org/2000/svg" class="icon flat-line">

          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

          <g id="SVGRepo_iconCarrier">

            <line id="primary" x1="12" y1="3" x2="12" y2="16"
              style="fill: none; stroke: #91A0AA; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" />

            <polyline id="primary-2" data-name="primary" points="8 12 12 16 16 12"
              style="fill: none; stroke: #91A0AA; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" />

            <path id="primary-3" data-name="primary" d="M20,16v4a1.08,1.08,0,0,1-1.14,1H5.14A1.08,1.08,0,0,1,4,20V16"
              style="fill: none; stroke: #91A0AA; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" />

          </g>

        </svg>
      </button>

      <button (click)="trocarVisualizacao()" class="btn-visualizacao">
        <svg width="25px" height="25px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">

          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

          <g id="SVGRepo_iconCarrier">
            <path
              d="M19 3.32001H16C14.8954 3.32001 14 4.21544 14 5.32001V8.32001C14 9.42458 14.8954 10.32 16 10.32H19C20.1046 10.32 21 9.42458 21 8.32001V5.32001C21 4.21544 20.1046 3.32001 19 3.32001Z"
              stroke="#91A0AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M8 3.32001H5C3.89543 3.32001 3 4.21544 3 5.32001V8.32001C3 9.42458 3.89543 10.32 5 10.32H8C9.10457 10.32 10 9.42458 10 8.32001V5.32001C10 4.21544 9.10457 3.32001 8 3.32001Z"
              stroke="#91A0AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M19 14.32H16C14.8954 14.32 14 15.2154 14 16.32V19.32C14 20.4246 14.8954 21.32 16 21.32H19C20.1046 21.32 21 20.4246 21 19.32V16.32C21 15.2154 20.1046 14.32 19 14.32Z"
              stroke="#91A0AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M8 14.32H5C3.89543 14.32 3 15.2154 3 16.32V19.32C3 20.4246 3.89543 21.32 5 21.32H8C9.10457 21.32 10 20.4246 10 19.32V16.32C10 15.2154 9.10457 14.32 8 14.32Z"
              stroke="#91A0AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </g>

        </svg>
      </button>

      <button class="btn-novo">
        <p class="plus">+</p>
        <p class="p-novo">Novo</p>
      </button>
    </div>
  </div>

  <div class="eventos">
    @if (isTabela) {
    <div class="tabela-visualizacao">
      <div class="cabecalho-tabela">
        <div class="item-img-titulo">
          <p>Título</p>
        </div>
        <div class="item-conteudo">
          <p>Conteúdo</p>
        </div>
        <div class="item-publicado">
          <p>Publicado em</p>
        </div>
        <div class="btns-item-tabela">
          <p>Ações</p>
        </div>
      </div>
      <div class="itens-tabela">
        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="conteudo-tabela">
            <div class="item-img-titulo">
              <img src="exemplo-img-event.jpg" alt="Capa do evento">
              <p>Evento tal</p>
            </div>
            <div class="item-conteudo">
              <p>Sem ingressos ativos</p>
            </div>
            <div class="item-publicado">
              <p>21/09/2021 às 19h00</p>
            </div>
            <div class="btns-item-tabela">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    } @else {
    <div class="card-visualizacao">
      <div class="card">
        <div class="img-p">
          <img src="exemplo-img-event.jpg" alt="Capa do evento">
          <p>Sem ingressos ativos</p>
        </div>
        <div class="card-evento">
          <p class="titulo-card">titulo</p>

          <div class="info-btns">
            <div>
              <p class="p-publicado">Publicado em</p>
              <p class="data-hora">21/09/2021 às 19h00</p>
            </div>
            <div class="btns-evento">
              <button>
                <mat-icon class="icon-btn edit">edit</mat-icon>
              </button>
              <button>
                <mat-icon class="icon-btn delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }


  </div>

  <div class="paginacao-visualizacao">
    <div class="paginacao">
      <p>paginação</p>
    </div>

    <div class="visualizacao">
      <button (click)="trocarVisualizacao()" class="btn-troca-visualizacao">
        @if (isTabela) {
          <p>Ver tabela em cards</p>
        } @else {
          <div class="icon-p">
            <mat-icon class="icon-btn">format_list_bulleted</mat-icon>
            <p>Ver tabela em lista</p>
          </div>
        }
      </button>
    </div>
  </div>
</div>
